

body{
  background:#f6f7f9;
}


.cart-title{
  font-weight:800;
  text-align:center;
  letter-spacing:1px;
  margin-bottom:30px;
}


.cart-table{
  background:#fff;
  border-radius:14px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  border:1px solid #ddd; 
}

.cart-table th{
  background:black;
  color:#fff;
  font-size:15px;
  padding:16px;
  text-transform:uppercase;
}

.cart-table td{
  vertical-align:middle;
  padding:18px 12px;
  font-size:15px;
}

.cart-table th,
.cart-table td{
  border:1px solid royalblue !important;
}


.cart-table img{
  border-radius:10px;
  margin-bottom:6px;
}


.qty-btn{
  width:34px;
  height:34px;
  border-radius:50%;
  font-weight:700;
  line-height:18px;
  padding:0;
}


.remove-btn{
  border-radius:20px;
  padding:6px 14px;
}


.cart-table tr:last-child th{
  background:#f1f1f1;
  font-size:18px;
}

.cart-table tr:last-child th{
  border-bottom:2px solid #111 !important;
}



.cart-actions{
  display:flex;
  justify-content:space-between;
  margin-top:35px;
}

.empty-cart{
  background:#fff;
  padding:60px;
  text-align:center;
  border-radius:14px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.empty-cart h2{
  margin-bottom:20px;
}


@media(max-width:768px){
  .cart-table th,
  .cart-table td{
    font-size:13px;
    padding:10px;
  }

  .cart-actions{
    flex-direction:column;
    gap:15px;
  }

  .cart-title{
    font-size:22px;
  }
}


.cart-table tr:last-child th{
  background:gold !important;  
  color:black !important;
  font-size:20px;
  font-weight:800;
  padding:18px;
}

.cart-table tr:last-child th:first-child{
  text-align:right;
}

.cart-table tr:last-child th:last-child{
  text-align:center;
}

.checkout-steps{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  margin:30px 0 40px;
}

.step{
  text-align:center;
  font-weight:600;
  font-size:14px;
}

.circle{
  width:36px;
  height:36px;
  border-radius:50%;
  background:#ddd;
  color:#000;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0 auto 5px;
}

.circle.done{
  background:#28a745;
  color:#fff;
}

.step.active p{
  color:#28a745;
}

.line{
  width:60px;
  height:2px;
  background:#ccc;
}
